img.logo(src='logo-white.svg')

.me
  .name Dave Loper
  .title Software Consultant

  .coordinates
    .phone +44 456 123 789
    .email dave.loper@relaxed.com
    .website www.daveloper.com
    .twitter @dave_the_dev

style
  include:scss business-card.scss
