h1.retroshadow Beautiful PDFs #[.using using] web frameworks
#abstract
  :markdown-it
    The technical community tends to prefer mark-up languages
    (Markdown, LaTeX) to mainstream documents editor such as MS Office.
    this is because markup is more adapted to the quick generation of documents
    with consistent style. However, Markdown has structure limitations (title / sections /
    paragraphs) and LaTeX is only fun when it works. We
    present ReLaXed, a new PDF edition system relying on web technologies for
    fast, reliable PDF generation from languages such as Pug, HTML, or (S)CSS.
    Relaxed also features support for Markdown, LaTeX-style mathematical
    tables, equations, plots generation, diagram drawing, and possibly much more.
style
  include:scss header.scss
