:markdown-it

  ## Software Stack
  
  ReLaxed consists of few lines of code binding together other software. It uses
  ``chokidar`` to watch the file system. when a file is changed, several
  javascript libraries are used to compile SCSS, Pug, Markdown, and diagram
  files into an HTML page which is then printed to a PDF file by a headless
  instance of Chromium (via ``puppeteer``), as represented below.
  
  ## Development environment
  
  In addition to the software, the user can take advantage of code editors like
  Atom of VS-Code to enjoy project management, highlighting of the sources' Pug
  and SCSS code, integrated terminal and PDF viewer (with auto-refresh), etc.
  
  ## Distribution
  
  The sources is hosted on Github and the software can be installed using the
  popular package manager ``npm``. At the writing time of this poster the
  global installation will unfortunately fail on some systems and a local
  installation in a foder of the user's choice is advised.

.figure
  img(src="./sections/diagrams/relaxed_diagram_flat_optimized.svg")
  .caption
    :markdown-it
      **Javascript-powered file rendering with ReLaXed.** Every time a file with
      a recognized extension is modified, it is processed by ReLaXed and fed to
      Google Chromium for rendering of an image file which can then be integrated
      in the final document via the Pug sources. The modification of any file
      (including the rendered image files) triggers a full build of an ``.htm``
      file via Node.js. The ``.htm`` file is fed to Chromium and printed as the
      final PDF document 

style
  include:scss methods.scss
