:markdown-it

  ## We're really bad at LaTeX

  The project started with the realization that, while LaTeX is a favorite tool
  in the techical community to make documents that look good, it actually makes it
  very difficult to make documents that look good. Maybe it is time for the Next
  Big Thing ? What about web technologies ?

.figure
  img(src="./sections/diagrams/polar.png")
  .caption
    :markdown-it
      **Making a presentation with LaTeX.** This grossly exagerated graphic
      shows that most of the time spent in the communication of scientific
      result is actually allocated to reading the LaTeX companion.
:markdown-it
  ## Web technologies have never looked so good.

  - Beautiful CSS frameworks produce clean and modern documents.
  - JS libraries for pretty much anything: plotting, code highlighting, math...
  - Millions of people (and growing) know how to use these.
  - Shorthand languages like Pug are finally making HTML/CSS fun.
  - Web browsers can reliably print documents to PDF on any platform.

  We wrote ReLaXed is an attempt at finding the most comfortable way to leverage this for desktop PDF creation.

style
  include:scss motivation.scss
