h1 Some examples of flowcharts

figure.ui.piled.segment(style='width:30%;')
  p.
    #[b Legend:] this example flowchart represents each element type once, with
    its meaning.
  include flowcharts/legend.svg

figure.ui.piled.segment(style='width:59%;')
  p.
    #[b Figure 2:] A flow chart.
  include flowcharts/test.svg
style
  include:scss flowcharts.scss
