#cover
  h1.book-title Alice in Wonderland
  h2.author by Lewis Caroll

.chapter
  img.title-img(src='assets/chapter_1.jpeg')
  include:markdown-it(html=true) chapter_1.md

.chapter
  img.title-img(src='assets/chapter_2.jpeg')
  include:markdown-it(html=true) chapter_2.md

template#page-footer
  style(type='text/css').
    .pdf-footer {
      font-family: Helvetica;
      font-size: 10px;
      width: 100%;
      text-align: center;
    }  
  .pdf-footer #[span.pageNumber]

style
  include:scss book.scss
