@import 'https://fonts.googleapis.com/css?family=Old+Standard+TT';

$page_width: 4in;
$page_height: 7in;

@page {
  size: $page_width $page_height;
  -relaxed-page-width: $page_width;
  -relaxed-page-height: $page_height;
  margin: 15mm 10mm 15mm 10mm;
}

body {
  font-family: 'Old Standard TT';
}

#cover {
  padding-top: 40%;
  h1, h2 {
    text-align: center;
  }
}

.chapter {
  page-break-before: always;
  img.title-img {
    margin-top: 0.5in;
    height: 2in;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    font-size: 1em;
    line-height: 1.6em;
    text-align: justify;
  }
  img.stars {
    width: 80%;
    margin: 0.2in auto 0.2in 10%;
    page-break-inside: avoid;
  }
}
